<p id="notice"><%= notice %></p>

<p>
    <strong>Order line:</strong>
    <%= link_to @order_line_restriction.order_line.order_line_description , @order_line_restriction.order_line %>
</p>

<p>
    <strong>Dietary restriction:</strong>
    <%= @order_line_restriction.dietary_restriction.dietary_restriction_name %>
</p>

<%= link_to 'Edit', rails_admin.edit_path(model_name: 'order_line_restriction', id: @order_line_restriction.id) %> |
<%= link_to 'Back', :back %>
