<p id="notice"><%= notice %></p>

<h1>Fillings</h1>

<table>
  <thead>
    <tr>
      <th>Filling Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fillings.each do |filling| %>
      <tr>
        <td><%= filling.filling_name %></td>
        <td><%= filling.filling_description %></td>
        <td><%= link_to 'Show', filling %></td>
        <td><%= link_to 'Edit', edit_filling_path(filling) %></td>
        <td><%= link_to 'Delete', filling, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filling', new_filling_path %>
