<p id="notice"><%= notice %></p>

<p>
    <strong>Filling name:</strong>
    <%= @filling.filling_name %>
</p>

<p>
    <strong>Filling description:</strong>
    <%= @filling.filling_description %>
</p>

<%= link_to 'Edit', rails_admin.edit_path(model_name: 'filling', id: @filling.id) %> |
<%= link_to 'Back', :back %>