<p id="notice"><%= notice %></p>

<h1>Cake Flavors</h1>

<table>
  <thead>
    <tr>
      <th>Flavor Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cake_flavors.each do |cake_flavor| %>
      <tr>
        <td><%= cake_flavor.flavor_name %></td>
        <td><%= link_to 'Show', cake_flavor %></td>
        <td><%= link_to 'Edit', edit_cake_flavor_path(cake_flavor) %></td>
        <td><%= link_to 'Delete', cake_flavor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cake Flavor', new_cake_flavor_path %>
