<p id="notice"><%= notice %></p>

<h1><%= @employee.employee_first_name %> <%= @employee.employee_last_name %></h1>


<p>
    <strong>Employee email:</strong>
    <%= @employee.employee_email %>
</p>

<p>
    <strong>Employee phone:</strong>
    <%= @employee.employee_phone %>
</p>

<p>
    <strong>Employee status:</strong>
    <%= @employee.employee_status.employee_status_name %>
</p>

<p>
    <strong>Employee type:</strong>
    <%= @employee.employee_type.employee_type_description %>
</p>
<table class="table table-hover">
    <tbody>
    <thead class="thead-light">
        <tr >
            <th scope="col">Tasks</th>
        </tr>
        </thead>
        <% @employee.task_assignments.each do |ta| %>
        <tr>
            <td><%= ta.task.task_name %></td>
            <td><%= link_to 'Show Details', ta %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<%= link_to 'Edit', edit_employee_path(@employee),Class:"btn btn-primary" %>
<%= link_to 'Back', :back,Class:"btn btn-primary" %>
