<%= form_with(model: tier, local: true) do |form| %>
  <% if tier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tier.errors.count, "error") %> prohibited this tier from being saved:</h2>

      <ul>
        <% tier.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="field">
    <%= form.label :tier_size %>
    <%= form.number_field :tier_size %>
  </div>

  <div class="field">
    <%= form.label :tier_special_notes %>
    <%= form.text_field :tier_special_notes %>
  </div>

  <div class="field">
    <%= form.label :cake_flavor_id %>
    <%= form.text_field :cake_flavor_id %>
  </div>

  <div class="field">
    <%= form.label :frosting_flavor_id %>
    <%= form.text_field :frosting_flavor_id %>
  </div>

  <div class="field">
    <%= form.label :shape_id %>
    <%= form.text_field :shape_id %>
  </div>

  <div class="field">
    <%= form.label :order_line_id %>
    <%= form.text_field :order_line_id %>
  </div>

  <h3>Tier Contents</h3>
  <div id='tier_fillings'>
    <%= form.fields_for :tier_fillings do |tier_filling| %>
      <%= render 'tier_filling_fields', :f => tier_filling %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add a Tier Filling', form, :tier_fillings %>
    </div>
  </div>
  <hr>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
