<%= form_with(model: tier, local: true) do |form| %>
  <% if tier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tier.errors.count, "error") %> prohibited this tier from being saved:</h2>

      <ul>
        <% tier.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">

    <div class="form-group col-md-3">
      <%= form.label :order_line_id %>
      <%= form.collection_select(:order_line_id, OrderLine.all, :id, :order_line_description, {prompt: "Select One...", selected: @order_line}, {class: "form-control"}) %>
    </div>

    <div class="form-group col-md-3">
      <%= form.label :position %>
      <%= form.number_field :position, class: "form-control", disabled: true, value: @setPosition %>
    </div>

    <div class="form-group col-md-3">
      <%= form.label :frosting_flavor_id %>
      <%= form.collection_select(:frosting_flavor_id, FrostingFlavor.all, :id, :frosting_name, {prompt: "Select One..."}, {class: "form-control"}) %>
    </div>

    <div class="form-group col-md-3">
      <%= form.label :cake_flavor_id %>
      <%= form.collection_select(:cake_flavor_id, CakeFlavor.all, :id, :flavor_name, {prompt: "Select One..."}, {class: "form-control"}) %>
    </div>
    
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <%= form.label :tier_size %>
      <%= form.text_field :tier_size, class: "form-control" %>
    </div>

    <div class="form-group col-md-3">
      <%= form.label :shape_id %>
      <%= form.collection_select(:shape_id, Shape.all, :id, :shape_name, {prompt: "Select One..."}, {class: "form-control"}) %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :tier_special_notes %>
      <%= form.text_area :tier_special_notes, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
      <%= hidden_field_tag 'nested_ol', @order_line  %>
  </div>

  <h3>Tier Fillings</h3>
  <div id='tier_fillings'>
    <%= form.fields_for :tier_fillings do |tier_filling| %>
      <%= render 'tier_filling_fields', :f => tier_filling %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add a Tier Filling', form, :tier_fillings %>
    </div>
  </div>
  <hr>

  <button type="submit" class="btn btn-primary">Create Tier</button>

<% end %>
