<%= form_with(model: tier, local: true) do |form| %>
  <% if tier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tier.errors.count, "error") %> prohibited this tier from being saved:</h2>

      <ul>
        <% tier.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">

    <div class="form-group col-md-3">
      <%= form.label :order_line_id, "Order Content" %>
      <%= form.collection_select(:order_line_id, OrderLine.all, :id, :order_line_description, {prompt: "Select One..."}, {class: "form-control"}) %>
    </div>

    <div class="form-group col-md-3">
      <%= form.label :position %>
      <%= form.number_field :position, class: "form-control" %>
    </div>

    <div class="form-group col-md-3">
      <%= form.label :cake_flavor_id %>
      <%= form.collection_select(:cake_flavor_id, CakeFlavor.all, :id, :flavor_name, {prompt: "Select One..."}, {class: "form-control"}) %>
    </div>

    <div class="form-group col-md-3">
      <%= form.label :frosting_flavor_id %>
      <%= form.collection_select(:frosting_flavor_id, FrostingFlavor.all, :id, :frosting_name, {prompt: "Select One..."}, {class: "form-control"}) %>
    </div>
    
  </div>

  <div class="form-row">


    <div class="form-group col-md-3">
      <%= form.label :tier_size %>
      <%= form.text_field :tier_size, class: "form-control", placeholder:"Tier size in inches" %>
    </div>

    <div class="form-group col-md-3">
      <%= form.label :shape_id %>
      <%= form.collection_select(:shape_id, Shape.all, :id, :shape_name, {prompt: "Select One..."}, {class: "form-control"}) %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :tier_special_notes %>
      <%= form.text_area :tier_special_notes, class: "form-control",placeholder:"Notes" %>
    </div>

  </div>

  <button type="submit" class="btn btn-primary">Update Tier</button>

<% end %>
