<div class='nested-fields'>

  <div class="form-row">

  <div class="field">
  <%= f.label :tier_id %>
  <%= f.text_field :tier_id %>
</div>

<div class="field">
  <%= f.label :filling_id %>
  <%= f.text_field :filling_id %>
</div>

  </div>

  <%= link_to_remove_association "Remove Order Line Restriction", f %>

</div>