<p id="notice"><%= notice %></p>

<h1>Tiers</h1>

<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Tier Size</th>
      <th>Tier Special Notes</th>
      <th>Cake Flavor</th>
      <th>Frosting Flavor</th>
      <th>Shape</th>
      <th>Order Line</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tiers.each do |tier| %>
      <tr>
        <td><%= tier.position %></td>
        <td><%= tier.tier_size %></td>
        <td><%= tier.tier_special_notes %></td>
        <td><%= tier.cake_flavor.flavor_name %></td>
        <td><%= tier.frosting_flavor.frosting_name %></td>
        <td><%= tier.shape.shape_name %></td>
        <td><%= tier.order_line_id %></td>
        <td><%= link_to 'Show', tier %></td>
        <td><%= link_to 'Edit', edit_tier_path(tier) %></td>
        <td><%= link_to 'Delete', tier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tier', new_tier_path %>
