<div class="container-fluid">
    <p id="notice"><%= notice %></p>
    <div class="container">
    <h1>Tier Content</h1>
    <p>
        <strong>Order Content ID:</strong>
        <%= link_to @tier.order_line_id, @tier.order_line %>
        <strong>Position:</strong>
        <%= @tier.position %>
        <strong>Tier size:</strong>
        <%= @tier.tier_size %>
        <strong>Shape:</strong>
        <%= @tier.shape.shape_name %>
    </p>

    <p>
        <strong>Tier special notes:</strong>
        <%= @tier.tier_special_notes %>
    </p>
    <p>
        <strong>Cake flavor:</strong>
        <%= @tier.cake_flavor.flavor_name %>
        <strong>Frosting flavor:</strong>
        <%= @tier.frosting_flavor.frosting_name %>
    </p>

    </div>
    <hr>

    <div class="container text-center">
        <h2>Fillings</h2>
        <%= button_to "Add a Filling", new_tier_filling_path, params: {tier_id: @tier}, method: :get, class: "text-center btn btn-primary" %>
    </div>

    <br>

    <table class="table table-hover">
        <tbody>
        <thead class="thead-light">
            <tr >
                <th scope="col">Filling</th>
            </tr>
            </thead>
            <% @tier.tier_fillings.each do |tf| %>
            <tr>
                <td><%= tf.filling.filling_name %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <%= link_to 'Edit', edit_tier_path(@tier), Class:"btn btn-primary" %>
    <%= link_to 'Back', :back, Class:"btn btn-primary" %>
</div>
