<%= form_with(model: task_assignment, local: true) do |form| %>
  <% if task_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_assignment.errors.count, "error") %> prohibited this task_assignment from being saved:</h2>

      <ul>
        <% task_assignment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="">Task</label>
      <%= form.collection_select(:task_id, Task.all, :id, :task_name, {prompt: "Select One...", selected: @task}, {class: "form-control"}) %>
    </div>
    <div class="form-group col-md-6">
      <label for="">Employee</label>
      <%= form.collection_select(:employee_id, Employee.where(employee_status_id: 2), :id, :fullname, {prompt: "Select One..."}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="actions">
      <%= hidden_field_tag 'nested_task', @task  %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
