<p id="notice"><%= notice %></p>

<h1>Task Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_assignments.each do |task_assignment| %>
      <tr>
        <td><%= task_assignment.task.task_name %></td>
        <td><%= task_assignment.employee.employee_first_name %> <%= task_assignment.employee.employee_last_name %></td>
        <td><%= link_to 'Show', task_assignment %></td>
        <td><%= link_to 'Edit', edit_task_assignment_path(task_assignment) %></td>
        <td><%= link_to 'Delete', task_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task Assignment', new_task_assignment_path %>
