<p id="notice"><%= notice %></p>

<p>
    <strong>Task:</strong>
    <%= @task_assignment.task_id %>
</p>

<p>
    <strong>Employee:</strong>
    <%= @task_assignment.employee_id %>
</p>

<%= link_to 'Edit', rails_admin.edit_path(model_name: 'task_assignment', id: @task_assignment.id) %> |
<%= link_to 'Back', :back %>