<p id="notice"><%= notice %></p>

<p>
    <strong>Task:</strong>
    <%= link_to @task_assignment.task.task_name, @task_assignment.task %>
</p>

<p>
    <strong>Employee:</strong>
    <%= link_to @task_assignment.employee.employee_first_name + ' ' + @task_assignment.employee.employee_last_name, @task_assignment.employee%>
</p>

<%= link_to 'Edit', rails_admin.edit_path(model_name: 'task_assignment', id: @task_assignment.id), Class:"btn btn-primary" %> 
<%= link_to 'Back', :back, Class:"btn btn-primary" %>
