<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="order_line">Order Content</label>
      <%= form.collection_select(:order_line_id, OrderLine.all, :id, :order_line_description, {prompt: "Select One...", selected: @order_line}, {class: "form-control"}) %>
    </div>
    <div class="form-group col-md-6">
      <label for="">Task Status</label>
      <%= form.collection_select(:task_status_id, TaskStatus.all, :id, :task_status_name, {prompt: "Select One..."}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="">Task Name</label>
      <%= form.text_field :task_name, class: "form-control",placeholder:"Name" %>
    </div>
    <div class="form-group col-md-7">
      <label for="">Task Description</label>
      <%= form.text_area :task_description, class: "form-control",placeholder:"Description" %>
    </div>
  </div> 

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="">Task Start Date</label>
      <div>
        <%= form.datetime_select :task_start_date, class: "form-control" %>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="">Task Due Date</label>
      <div>
        <%= form.datetime_select :task_due_date, class: "form-control" %>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="">Task Finish Date</label>
      <div>
        <%= form.datetime_select :task_finish_date, class: "form-control" %>
      </div>
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Update Task</button>
<% end %>
