<div class='nested-fields'>

  <div class="form-row">

  <div class="field">
  <%= f.label :employee_id %>
  <%= f.text_field :employee_id %>
</div>

<div class="field">
  <%= f.label :task_id %>
  <%= f.text_field :task_id %>
</div>

  </div>

  <%= link_to_remove_association "Remove Assignment", f %>

</div>