<div class="container-fluid">
  <p id="notice"><%= notice %></p>

<div class="text-center">
  <h1>Tasks</h1>
</div>
  <nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" id="firstInput" onkeyup="status()"  title="Type Tasks" placeholder="Search" aria-label="Search">
    <input class="form-control mr-sm-2" type="search" id="2Input" onkeyup="order_line()"  title="Type Tasks" placeholder="Search" aria-label="Search">
    <input class="form-control mr-sm-2" type="search" id="3irstInput" onkeyup="task()"  title="Type Tasks" placeholder="Search" aria-label="Search">
    <input class="form-control mr-sm-2" type="search" id="4Input" onkeyup="description()"  title="Type Tasks" placeholder="Search" aria-label="Search">
    <input class="form-control mr-sm-2" type="search" id="5Input" onkeyup="start()"  title="Type Tasks" placeholder="Search" aria-label="Search">
    <input class="form-control mr-sm-2" type="search" id="6Input" onkeyup="due()"  title="Type Tasks" placeholder="Search" aria-label="Search">
    <input class="form-control mr-sm-2" type="search" id="7Input" onkeyup="finish()"  title="Type Tasks" placeholder="Search" aria-label="Search">
  </form>
<%= link_to 'New Task', new_task_path, class: "btn btn-primary" %>
  <table id = "task_table" class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col"><%= sortable "task_status_id", "Task Status" %></th>
        <th scope="col"><%= sortable "order_line_id", "Order Line" %></th>
        <th scope="col"><%= sortable "task_name", "Task Name" %></th>
        <th scope="col"><%= sortable "task_description", "Description" %></th>
        <th scope="col"><%= sortable "task_start_date", "Start Date" %></th>
        <th scope="col"><%= sortable "task_due_date", "Due Date" %></th>
        <th scope="col"><%= sortable "task_finish_date", "Finish Date" %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.task_status.task_status_name %></td>
          <td><%= task.order_line_id %></td>
          <td><%= task.task_name %></td>
          <td><%= task.task_description %></td>
          <td><%= task.task_start_date.try(:strftime,"%B %e, %l:%M %p") %></td>
          <td><%= task.task_due_date.try(:strftime,"%B %e, %l:%M %p") %></td>
          <td><%= task.task_finish_date.try(:strftime,"%B %e, %l:%M %p") %></td>
          <td><%= link_to 'Show', task %></td>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <td><%= link_to 'Archive', archive_task_path(task),method: :patch  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <script>
function status() {
var input, filter, table, tr, td, i, txtValue;
input = document.getElementById("6Input");
filter = input.value.toUpperCase();
table = document.getElementById("task_table");
tr = table.getElementsByTagName("tr");
for (i = 0; i < tr.length; i++) {
  td = tr[i].getElementsByTagName("td")[5];
  if (td) {
    txtValue = td.textContent || td.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
}
}
</script>
<script>
function order_line() {
var input, filter, table, tr, td, i, txtValue;
input = document.getElementById("firstInput");
filter = input.value.toUpperCase();
table = document.getElementById("task_table");
tr = table.getElementsByTagName("tr");
for (i = 0; i < tr.length; i++) {
  td = tr[i].getElementsByTagName("td")[0];
  if (td) {
    txtValue = td.textContent || td.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
}
}
</script>
  <script>
function task() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("2Input");
  filter = input.value.toUpperCase();
  table = document.getElementById("task_table");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
<script>
function description() {
var input, filter, table, tr, td, i, txtValue;
input = document.getElementById("3Input");
filter = input.value.toUpperCase();
table = document.getElementById("task_table");
tr = table.getElementsByTagName("tr");
for (i = 0; i < tr.length; i++) {
  td = tr[i].getElementsByTagName("td")[2];
  if (td) {
    txtValue = td.textContent || td.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
}
}
</script>
<script>
function start() {
var input, filter, table, tr, td, i, txtValue;
input = document.getElementById("4Input");
filter = input.value.toUpperCase();
table = document.getElementById("task_table");
tr = table.getElementsByTagName("tr");
for (i = 0; i < tr.length; i++) {
  td = tr[i].getElementsByTagName("td")[3];
  if (td) {
    txtValue = td.textContent || td.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
}
}
</script>
<script>
function due() {
var input, filter, table, tr, td, i, txtValue;
input = document.getElementById("5Input");
filter = input.value.toUpperCase();
table = document.getElementById("task_table");
tr = table.getElementsByTagName("tr");
for (i = 0; i < tr.length; i++) {
  td = tr[i].getElementsByTagName("td")[4];
  if (td) {
    txtValue = td.textContent || td.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
}
}
</script>
<script>
function finish() {
var input, filter, table, tr, td, i, txtValue;
input = document.getElementById("6Input");
filter = input.value.toUpperCase();
table = document.getElementById("task_table");
tr = table.getElementsByTagName("tr");
for (i = 0; i < tr.length; i++) {
  td = tr[i].getElementsByTagName("td")[5];
  if (td) {
    txtValue = td.textContent || td.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
}
}
</script>
</div>
