<p id="notice"><%= notice %></p>

<p>
    <strong>Task name:</strong>
    <%= @task.task_name %>
</p>

<p>
    <strong>Task description:</strong>
    <%= @task.task_description %>
</p>

<p>
    <strong>Task start date:</strong>
    <%= @task.task_start_date.to_formatted_s(:long_ordinal) %>
</p>

<p>
    <strong>Task due date:</strong>
    <%= @task.task_due_date.to_formatted_s(:long_ordinal) %>
</p>

<p>
    <strong>Task finish date:</strong>
    <%= @task.task_finish_date.to_formatted_s(:long_ordinal) %>
</p>

<p>
    <strong>Task status:</strong>
    <%= @task.task_status.task_status_name %>
</p>

<p>
    <strong>Order Line:</strong>
    <%= @task.order_line_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', :back %>