<%= form_with(model: rental_line, local: true) do |form| %>
  <% if rental_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rental_line.errors.count, "error") %> prohibited this rental_line from being saved:</h2>

      <ul>
        <% rental_line.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="">Order</label>
      <%= form.collection_select(:order_id, Order.all, :id, :order_description, {prompt: "Select One...", selected: @order}, {class: "form-control"}) %>
    </div>
    <div class="form-group col-md-6">
      <label for="">Rental Item</label>
      <%= form.collection_select(:rental_item_id, RentalItem.all, :id, :rental_item_name, {prompt: "Select One..."}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="actions">
      <%= hidden_field_tag 'nested_o', @order%>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
