<div class="container text-center">

    <p id="notice"><%= notice %></p>

    <p>
        <strong>Order:</strong>
        <%= @rental_line.order.order_description %>

        <strong>Rental item:</strong>
        <%= @rental_line.rental_item.rental_item_name %>
    </p>

    <%= link_to 'Edit', rails_admin.edit_path(model_name: 'rental_line', id: @rental_line.id), Class:"btn btn-primary" %>
    <%= link_to 'Back', :back, Class:"btn btn-primary" %>
</div>