<%= form_with(model: tier_filling, local: true) do |form| %>
  <% if tier_filling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tier_filling.errors.count, "error") %> prohibited this tier_filling from being saved:</h2>

      <ul>
        <% tier_filling.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Tier</label>
      <%= form.collection_select(:tier_id, Tier.all, :id, :desc_pos, {prompt: "Select One...", selected: @tier}, {class: "form-control", disabled: true}) %>
    </div>

    <div class="form-group col-md-6">
      <label>Filling</label>
      <%= form.collection_select(:filling_id, Filling.all, :id, :filling_name, {prompt: "Select One..."}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="actions">
      <%= hidden_field_tag 'nested_tier', @tier  %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
