<p id="notice"><%= notice %></p>

<h1>Tier Fillings</h1>

<table>
  <thead>
    <tr>
      <th>Tier</th>
      <th>Filling</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tier_fillings.each do |tier_filling| %>
      <tr>
        <td><%= tier_filling.tier_id %></td>
        <td><%= tier_filling.filling_id %></td>
        <td><%= link_to 'Show', tier_filling %></td>
        <td><%= link_to 'Edit', edit_tier_filling_path(tier_filling) %></td>
        <td><%= link_to 'Destroy', tier_filling, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tier Filling', new_tier_filling_path %>
