<p id="notice"><%= notice %></p>

<p>
    <strong>Tier:</strong>
    <%= @tier_filling.tier_id %>
</p>

<p>
    <strong>Filling:</strong>
    <%= @tier_filling.filling_id %>
</p>

<%= link_to 'Edit', rails_admin.edit_path(model_name: 'tier_filling', id: @tier_filling.id),Class:"btn btn-primary" %>
<%= link_to 'Back', :back,Class:"btn btn-primary" %>