<%= form_with(model: dietary_restriction, local: true) do |form| %>
  <% if dietary_restriction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dietary_restriction.errors.count, "error") %> prohibited this dietary_restriction from being saved:</h2>

      <ul>
        <% dietary_restriction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dietary_restriction_name %>
    <%= form.text_field :dietary_restriction_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
