<div class="container-fluid">
    <div class="container">
        <p id="notice"><%= notice %></p>

        <h1><%= @customer.customer_first_name %> <%= @customer.customer_last_name %></h1>
         <p>
            <strong>Status:</strong>
            <%= @customer.customer_status.customer_status_name %>
        </p>

        <p>
            <strong>Phone:</strong>
            <%= @customer.customer_phone %>
            <strong>Email:</strong>
            <%= @customer.customer_email %>
        </p>

        <p center>
            <strong>Street Address:</strong>
            <%= @customer.customer_street_address %>
            <strong>City:</strong>
            <%= @customer.customer_city %>
            <strong>State:</strong>
            <%= @customer.customer_state %>
            <strong>Zip Code:</strong>
            <%= @customer.customer_zip_code %>
        </p>
    </div>

    <hr>

    <div class="container text-center">
        <h2>Customer's Orders</h2>
        <%= button_to "Add an Order", new_order_path, params: {customer_id: @customer}, method: :get, class: "text-center btn btn-primary" %>
    </div>

    <br>

    <table class="table table-hover">
        <tbody>
        <thead class="thead-light">
            <tr>
                <th scope="col">Order Description</th>
                <th scope="col">Order Cost</th>
                <th scope="col">Order Start Date</th>
                <th scope="col">Order Due Date</th>
                <th scope="col">Order Finish Date</th>
                <th scope="col">Order Delivery</th>
                <th scope="col">Delivery Street Address</th>
                <th scope="col">Delivery City</th>
                <th scope="col">Delivery State</th>
                <th scope="col">Delivery Zip Code</th>
                <th scope="col">Order Type</th>
                <th scope="col">Order Status</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <% @customer.orders.each do |order| %>
            <tr>
                <td><%= order.order_description %></td>
                <td><%= number_to_currency(order.order_cost) %></td>
                <td><%= order.order_start_date.to_formatted_s(:long_ordinal) %></td>
                <td><%= order.order_due_date.to_formatted_s(:long_ordinal) %></td>
                <td><%= order.order_date_finish.try(:to_formatted_s, :long_ordinal) %></td>
                <td><% if order.order_delivery == true %>
                <%= image_tag "check.png", class: "check"%>
                <% else %>
                  <%= image_tag "cross.png", class: "cross"%>
                <% end %></td> 
                <td><%= order.delivery_street_address %>" "<%= order.delivery_city %></td>
                <td><%= order.delivery_city %></td>
                <td><%= order.delivery_state %></td>
                <td><%= order.delivery_zip_code %></td>
                <td><%= order.order_type.order_description %></td>
                <td><%= order.order_status.order_status_name %></td>
                <td><%= link_to 'Show Details', order %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <hr>
    <%= link_to 'Edit', edit_customer_path(@customer), Class: "btn btn-primary"%>
    <%= link_to 'Back', :back, Class: "btn btn-primary" %>
</div>
