<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :order_description %>
    <%= form.text_field :order_description %>
  </div>

  <div class="field">
    <%= form.label :order_cost %>
    <%= form.text_field :order_cost %>
  </div>

  <div class="field">
    <%= form.label :order_start_date %>
    <%= form.datetime_select :order_start_date %>
  </div>

  <div class="field">
    <%= form.label :order_due_date %>
    <%= form.datetime_select :order_due_date %>
  </div>

  <div class="field">
    <%= form.label :order_date_finish %>
    <%= form.datetime_select :order_date_finish %>
  </div>

  <div class="field">
    <%= form.label :order_delivery %>
    <%= form.check_box :order_delivery %>
  </div>

  <div class="field">
    <%= form.label :delivery_street_address %>
    <%= form.text_field :delivery_street_address %>
  </div>

  <div class="field">
    <%= form.label :delivery_city %>
    <%= form.text_field :delivery_city %>
  </div>

  <div class="field">
    <%= form.label :delivery_state %>
    <%= form.text_field :delivery_state %>
  </div>

  <div class="field">
    <%= form.label :delivery_zip_code %>
    <%= form.text_field :delivery_zip_code %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id %>
  </div>

  <div class="field">
    <%= form.label :order_type_id %>
    <%= form.text_field :order_type_id %>
  </div>

  <div class="field">
    <%= form.label :order_status_id %>
    <%= form.text_field :order_status_id %>
  </div>
  <h3>Order Lines</h3>
  <div id='order_lines'>
    <%= form.fields_for :order_lines do |order_line| %>
      <%= render 'order_line_fields', :f => order_line %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add an Order Line', form, :order_lines %>
    </div>
  </div>
<hr>
<h3>Rental Lines</h3>
<div id='rental_lines'>
  <%= form.fields_for :rental_lines do |rental_line| %>
    <%= render 'rental_line_fields', :f => rental_line %>
  <% end %>
  <div class='links'>
    <%= link_to_add_association 'Add a Rental Line', form, :rental_lines %>
  </div>
</div>
<hr>

  <div class="actions">
    <%= form.submit %>
  </div>
<form>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label :order_description>Order Description</label>
      <%= form.text_area :order_description, class: "form-control" %>
    </div>
    <div class="form-group col-md-2">
      <label for="inputCost4">Order Cost</label>
      <label class="sr-only" for="inlineFormInputGroup">Order Cost</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <%= form.text_field :order_cost, class: "form-control", placeholder:"0.00" %>
      </div>
    </div>
    <div class="form-group col-md-2">
     <label for="inputCust">Delivery or Pick Up</label>
      <select id="inputState" class="form-control">
        <option selected>Choose One...</option>
        <option>...</option>
      </select>
 
</div>
</div>
         </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-3">
  <label for="inputAddress">Order Start Date</label>
  <div>
  <%= form.datetime_select :order_start_date, class: "form-control" %>
  </div>
  </div>
  <div class="form-group col-md-3">
  <label for="inputAddress">Delivery Due Date</label>
  <div>
  <%= form.datetime_select :order_due_date, class: "form-control" %>
  </div>
  </div>
  <div class="form-group col-md-3">
  <label for="inputAddress">Delivery Finish Date</label>
  <div>
  <%= form.datetime_select :order_due_date, class: "form-control" %>
    </div>
</div>
  </div>
  </div>

  </div>
   <div class="form-row">
  <div class="form-group col-md-3">
    <label for="inputAddress">Delivery Street Address</label>
    <%= form.text_field :delivery_street_address, class: "form-control", placeholder: "1234 Main St." %>
  </div>
  <div class="form-group com-md-3">
    <label for="inputAddress2">Delivery City</label>
    <%= form.text_field :delivery_city, class: "form-control", placeholder: "Dallas" %>
  </div>
  <div class="form-group col-md-1">
    <label for="inputAddress2">Delivery State</label>
    <%= form.text_field :delivery_state, class: "form-control", placeholder: "TX" %>
  </div>
   <div class="form-group col-md-2">
      <label for="inputZip">Delivery Zip Code</label>
      <%= form.text_field :delivery_zip_code, class: "form-control", placeholder: "77890" %>
    </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
    <label for="inputCust">Customer</label>
      <select id="inputCust" class="form-control">
        <option selected>Choose One...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="inputState">Order Type</label>
      <select id="inputState" class="form-control">
        <option selected>Choose One...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="inputState">Order Status</label>
      <select id="inputState" class="form-control">
        <option selected>Choose One...</option>
        <option>...</option>
      </select>
    </div>
  </div>
  </div>
  <button type="submit" class="btn btn-primary">Create Order</button>
</form>
  
<% end %>
