<div class='nested-fields'>

<div class="field">
<%= f.label :order_id %>
<%= f.text_field :order_id %>
</div>

<div class="field">
<%= f.label :rental_item_id %>
<%= f.text_field :rental_item_id %>
</div>

<%= link_to_remove_association "Remove Rental Line", f %>

</div>