<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Order Description</th>
      <th>Order Cost</th>
      <th>Order Start Date</th>
      <th>Order Due Date</th>
      <th>Order Date Finish</th>
      <th>Order Delivery</th>
      <th>Delivery Street Address</th>
      <th>Delivery City</th>
      <th>Delivery State</th>
      <th>Delivery Zip Code</th>
      <th>Customer</th>
      <th>Order Type</th>
      <th>Order Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_description %></td>
        <td><%= order.order_cost %></td>
        <td><%= order.order_start_date %></td>
        <td><%= order.order_due_date %></td>
        <td><%= order.order_date_finish %></td>
        <td><%= order.order_delivery %></td>
        <td><%= order.delivery_street_address %></td>
        <td><%= order.delivery_city %></td>
        <td><%= order.delivery_state %></td>
        <td><%= order.delivery_zip_code %></td>
        <td><%= order.customer.customer_first_name %> <%= order.customer.customer_last_name %></td>
        <td><%= order.order_type.order_description %></td>
        <td><%= order.order_status.order_status_name %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
