<div class="container-fluid">
    <p id="notice"><%= notice %></p>
    <div class="container">
    <h1>Order Details</h1>
    <p>
        <strong>Order Status:</strong>
        <%= @order.order_status.order_status_name %>
        <strong>Customer:</strong>
        <%= link_to @order.customer.customer_first_name + ' ' + @order.customer.customer_last_name, @order.customer%>

    </p>

    <p>
        <strong>Order Type:</strong>
        <%= @order.order_type.order_description %>
        <strong>Order Description:</strong>
        <%= @order.order_description %>
        <strong>Order Cost:</strong>
        <%= number_to_currency(@order.order_cost) %>
    </p>

    <p>
        <strong>Order Start Date:</strong>
        <%= @order.order_start_date.to_formatted_s(:long_ordinal) %>
        <strong>Order Due Date:</strong>
        <%= @order.order_due_date.to_formatted_s(:long_ordinal) %>
        <strong>Order Date Finish:</strong>
        <%= @order.order_date_finish.try(:to_formatted_s, :long_ordinal)%>
    </p>

    <p>
        <strong>Order Delivery:</strong>
        <%= @order.order_delivery %>
        <strong>Delivery Street Address:</strong>
        <%= @order.delivery_street_address %>
        <strong>Delivery City:</strong>
        <%= @order.delivery_city %>
        <strong>Delivery State:</strong>
        <%= @order.delivery_state %>
         <strong>Delivery Zip Code:</strong>
        <%= @order.delivery_zip_code %>
    </p>

    </div>

    <% @attached =  @order.inspiration_images.attached? %>

    <% if @attached %>
        <div class="text-center">
            <h3>Inspiration Images</h3>
        </div>
        <div class="container" id="carouselBorder">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="ci">
                    <ol class="carousel-indicators">
                        <% @order.inspiration_images.each_with_index do |photo, n| %>
                            <li data-target='#MyCarousel' data-slide-to="#{n}" class="#{'active' if n == 0}"></li>
                        <% end %>
                    </ol>
                </div>

                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="text-center">
                            <%= image_tag(@order.inspiration_images.first, class: "img-fluid img-rounded") %>
                        </div>
                    </div>
                    <% @order.inspiration_images.drop(1).each do |photo| %>
                        <div class="carousel-item">
                            <div class="text-center">
                                <%= image_tag(photo, class: "img-fluid img-rounded")  %>
                            </div>
                        </div>
                    <% end %>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    <% end %>

    <hr>

    <div class="container text-center">
        <h2>Order's Order Contents</h2>
        <%= button_to "Add Order Content", new_order_line_path, params: {order_id: @order}, method: :get, class: "text-center btn btn-primary" %>
    </div>

    <br>

    <table class="table table-hover">
        <tbody>
        <thead class="thead-light">
            <tr>
                <th scope="col">Order Line Description</th>
                <th scope="col">Order Line Start Date</th>
                <th scope="col">Order Line Finish Date</th>
                <th scope="col">Special Order Notes</th>
                <th scope="col">Product</th>
                <th scope="col">Order Line Status</th>
                <th colspan="3"></th>
            </tr>
            </thead>
            <% @order.order_lines.each do |ol| %>
            <tr>
                <td><%= ol.order_line_description %></td>
                <td><%= ol.order_line_start_date.to_formatted_s(:long_ordinal) %></td>
                <td><%= ol.order_line_finish_date.try(:to_formatted_s, :long_ordinal) %></td>
                <td><%= ol.special_order_notes %></td>
                <td><%= ol.product.product_name %></td>
                <td><%= ol.order_line_status.order_line_status_name %></td>
                <td><%= link_to 'Show Details', ol %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <hr>

    <div class="container text-center">
        <h2>Order's Rental Items</h2>
        <%= button_to "Add a Rental Item", new_rental_line_path, params: {order_id: @order}, method: :get, class: "text-center btn btn-primary" %>
    </div>

    <br>

    <table class="table table-hover">
        <tbody>
        <thead class="thead-light">
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Rental Item ID</th>
                <th colspan="3"></th>
            </tr>
            </thead>
            <% @order.rental_lines.each do |rl| %>
            <tr>
                <td><%= rl.order_id %></td>
                <td><%= rl.rental_item.rental_item_name %></td>
                <td><%= link_to 'Show Details', rl %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <%= link_to 'Edit', edit_order_path(@order), class: "btn btn-primary" %>
    <%= link_to 'Back', orders_path ,class: "btn btn-primary" %>
</div>
