<div class='nested-fields'>

    <div class="form-row">

        <div class="form-group col-md-6">
        <%= f.label :frosting_flavor_id %>
        <%= f.collection_select(:frosting_flavor_id, FrostingFlavor.all, :id, :frosting_name, {prompt: "Select One..."}, {class: "form-control"}) %>
        </div>

        <div class="form-group col-md-6">
        <%= f.label :cake_flavor_id %>
        <%= f.collection_select(:cake_flavor_id, CakeFlavor.all, :id, :flavor_name, {prompt: "Select One..."}, {class: "form-control"}) %>
        </div>
        
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
        <%= f.label :tier_size %>
        <%= f.text_field :tier_size, class: "form-control" %>
        </div>

        <div class="form-group col-md-3">
        <%= f.label :shape_id %>
        <%= f.collection_select(:shape_id, Shape.all, :id, :shape_name, {prompt: "Select One..."}, {class: "form-control"}) %>
        </div>

        <div class="form-group col-md-6">
        <%= f.label :tier_special_notes %>
        <%= f.text_area :tier_special_notes, class: "form-control" %>
        </div>
    </div>

<%= link_to_remove_association "Remove Tier", f%>
