<div class='nested-fields'>

<div class="field">
<%= f.label :position %>
<%= f.number_field :position %>
</div>

<div class="field">
<%= f.label :tier_size %>
<%= f.number_field :tier_size %>
</div>

<div class="field">
<%= f.label :tier_special_notes %>
<%= f.text_field :tier_special_notes %>
</div>

<div class="field">
<%= f.label :cake_flavor_id %>
<%= f.text_field :cake_flavor_id %> 
</div>

<div class="field">
<%= f.label :frosting_flavor_id %>
<%= f.text_field :frosting_flavor_id %>
</div>

<div class="field">
<%= f.label :shape_id %>
<%= f.text_field :shape_id %>
</div>

<div class="field">
<%= f.label :order_line_id %>
<%= f.text_field :order_line_id %>
</div>
<%= link_to_remove_association "Remove Tier", f %>
