<p id="notice"><%= notice %></p>

<p>
    <strong>Order Line Description:</strong>
    <%= @order_line.order_line_description %>
</p>

<p>
    <strong>Order Line Start Date:</strong>
    <%= @order_line.order_line_start_date.to_formatted_s(:long_ordinal) %>
</p>

<p>
    <strong>Order Line Finish Date:</strong>
    <%= @order_line.order_line_finish_date.to_formatted_s(:long_ordinal) %>
</p>

<p>
    <strong>Special Order Notes:</strong>
    <%= @order_line.special_order_notes %>
</p>

<p>
    <strong>Product:</strong>
    <%= @order_line.product.product_name %>
</p>

<p>
    <strong>Order Line Status:</strong>
    <%= @order_line.order_line_status.order_line_status_name %>
</p>

<p>
    <strong>Order Line ID:</strong>
    <%= @order_line.order_id %>
</p>

<hr>

<table>
    <tbody>
        <tr>
            <th>Order Line ID</th>
            <th>Dietary Restriction</th>
        </tr>
        <% @order_line.order_line_restrictions.each do |olr| %>
        <tr>
            <td><%= olr.order_line_id %></td>
            <td><%= olr.dietary_restriction.dietary_restriction_name %></td>
            <td><%= link_to 'Show Details', olr %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<hr>

<table>
    <tbody>
        <tr>
            <th>Tier Position</th>
            <th>Tier Size</th>
            <th>Tier Special Notes</th>
            <th>Cake Flavor</th>
            <th>Frosting Flavor</th>
            <th>Shape</th>
        </tr>
        <% @order_line.tiers.each do |ot| %>
        <tr>
            <td><%= ot.position %></td>
            <td><%= ot.tier_size %></td>
            <td><%= ot.tier_special_notes %></td>
            <td><%= ot.cake_flavor.flavor_name %></td>
            <td><%= ot.frosting_flavor.frosting_name %></td>
            <td><%= ot.shape.shape_name %></td>
            <td><%= link_to 'Show Details', ot %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<hr>

<table>
    <tbody>
        <tr>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Task Start Date</th>
            <th>Task Due Date</th>
            <th>Task Finish Date</th>
            <th>Task Status</th>
            <th>Order Line ID</th>
        </tr>
        <% @order_line.tasks.each do |otasks| %>
        <tr>
            <td><%= otasks.task_name %></td>
            <td><%= otasks.task_description %></td>
            <td><%= otasks.task_start_date %></td>
            <td><%= otasks.task_due_date %></td>
            <td><%= otasks.task_finish_date %></td>
            <td><%= otasks.task_status.task_status_name %></td>
            <td><%= otasks.order_line_id %></td>
            <td><%= link_to 'Show Details', otasks %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<hr>

<%= link_to 'Edit', edit_order_line_path(@order_line), Class:"btn btn-primary" %> |
<%= link_to 'Back', :back,Class:"btn btn-primary" %>