<div class="container-fluid">
    <p id="notice"><%= notice %></p>

    <h1>Order Contents</h1>

    <p>
        <strong>Order Line ID:</strong>
        <%= @order_line.id %>
    </p>

    <p>
        <strong>Order Line Description:</strong>
        <%= @order_line.order_line_description %>
    </p>

    <p>
        <strong>Order Line Start Date:</strong>
        <%= @order_line.order_line_start_date.to_formatted_s(:long_ordinal) %>
    </p>

    <p>
        <strong>Order Line Finish Date:</strong>
        <%= @order_line.order_line_finish_date.try(:to_formatted_s, :long_ordinal) %>
    </p>

    <p>
        <strong>Special Order Notes:</strong>
        <%= @order_line.special_order_notes %>
    </p>

    <p>
        <strong>Product:</strong>
        <%= @order_line.product.product_name %>
    </p>

    <p>
        <strong>Order Line Status:</strong>
        <%= @order_line.order_line_status.order_line_status_name %>
    </p>
    <p>
      <Strong>Order ID:</strong>
        <%= link_to @order_line.order.id, @order_line.order %>
      </p>



    <% @attached =  @order_line.images.attached? %>

    <% if @attached %>
        <div class="text-center">
            <h3>Images</h3>
        </div>
        <div class="container" id="carouselBorder">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="ci">
                    <ol class="carousel-indicators">
                        <% @order_line.images.each_with_index do |photo, n| %>
                            <li data-target='#MyCarousel' data-slide-to="#{n}" class="#{'active' if n == 0}"></li>
                        <% end %>
                    </ol>
                </div>

                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="text-center">
                            <%= image_tag(@order_line.images.first, class: "img-fluid img-rounded") %>
                        </div>
                    </div>
                    <% @order_line.images.drop(1).each do |photo| %>
                        <div class="carousel-item">
                            <div class="text-center">
                                <%= image_tag(photo, class: "img-fluid img-rounded")  %>
                            </div>
                        </div>
                    <% end %>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    <% end %>

    <br>

    <% @attachedMockup =  @order_line.mockups.attached? %>

    <% if @attachedMockup %>
        <div class="text-center">
            <h3>Mockups</h3>
        </div>
        <div class="container" id="carouselBorder">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="ci">
                    <ol class="carousel-indicators">
                        <% @order_line.mockups.each_with_index do |photo, n| %>
                            <li data-target='#MyCarousel' data-slide-to="#{n}" class="#{'active' if n == 0}"></li>
                        <% end %>
                    </ol>
                </div>

                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="text-center">
                            <%= image_tag(@order_line.mockups.first, class: "img-fluid img-rounded") %>
                        </div>
                    </div>
                    <% @order_line.mockups.drop(1).each do |photo| %>
                        <div class="carousel-item">
                            <div class="text-center">
                                <%= image_tag(photo, class: "img-fluid img-rounded")  %>
                            </div>
                        </div>
                    <% end %>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    <% end %>

    <hr>

    <div class="container text-center">
        <h2>Order Content's Tiers</h2>
        <%= button_to "Add a Tier", new_tier_path, params: {order_line_id: @order_line}, method: :get, class: "text-center btn btn-primary" %>
    </div>

    <br>

    <table class="table table-hover">
        <tbody>
        <thead class="thead-light">
            <tr>
                <th scope="col">Tier Position</th>
                <th scope="col">Tier Size</th>
                <th scope="col">Tier Special Notes</th>
                <th scope="col">Cake Flavor</th>
                <th scope="col">Frosting Flavor</th>
                <th scope="col">Shape</th>
                <th col span="3">
            </tr>
            </thead>
            <% @order_line.tiers.each do |ot| %>
            <tr>
                <td><%= ot.position %></td>
                <td><%= ot.tier_size %></td>
                <td><%= ot.tier_special_notes %></td>
                <td><%= ot.cake_flavor.flavor_name %></td>
                <td><%= ot.frosting_flavor.frosting_name %></td>
                <td><%= ot.shape.shape_name %></td>
                <td><%= link_to 'Show Details', ot %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <hr>

    <div class="container text-center">
        <h2>Order Content's Dietary Restrictions</h2>
        <%= button_to "Add a Dietary Restriction", new_order_line_restriction_path, params: {order_line_id: @order_line}, method: :get, class: "text-center btn btn-primary" %>
    </div>

    <br>

    <table  class="table table-hover">
        <tbody>
        <thead class="thead-light">
            <tr>
                <th scope="col">Order Line ID</th>
                <th scope="col">Dietary Restriction</th>
                <th col span="3">
            </tr>
            </thead>
            <% @order_line.order_line_restrictions.each do |olr| %>
            <tr>
                <td><%= olr.order_line_id %></td>
                <td><%= olr.dietary_restriction.dietary_restriction_name %></td>
                <td><%= link_to 'Show Details', olr %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <hr>

    <div class="container text-center">
        <h2>Order Content's Tasks</h2>
        <%= button_to "Add a Task", new_task_path, params: {order_line_id: @order_line}, method: :get, class: "text-center btn btn-primary" %>
    </div>

    <br>

    <table class="table table-hover">
        <tbody>
    <thead class="thead-light">
            <tr>
                <th scope="col" >Task Name</th>
                <th scope="col">Task Description</th>
                <th scope="col">Task Start Date</th>
                <th scope="col">Task Due Date</th>
                <th scope="col">Task Finish Date</th>
                <th scope="col">Task Status</th>
                <th scope="col">Order Line ID</th>
                <th col span="3">
            </tr>
            </thead>
            <% @order_line.tasks.each do |otasks| %>
            <tr>
                <td><%= otasks.task_name %></td>
                <td><%= otasks.task_description %></td>
                <td><%= otasks.task_start_date %></td>
                <td><%= otasks.task_due_date %></td>
                <td><%= otasks.task_finish_date %></td>
                <td><%= otasks.task_status.task_status_name %></td>
                <td><%= otasks.order_line_id %></td>
                <td><%= link_to 'Show Details', otasks %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <hr>

    <%= link_to 'Edit', edit_order_line_path(@order_line), Class:"btn btn-primary" %>
    <%= link_to 'Back', :back,Class:"btn btn-primary" %>
</div>
