<p id="notice"><%= notice %></p>

<p>
    <strong>Order Line Description:</strong>
    <%= @order_line.order_line_description %>
</p>

<p>
    <strong>Order Line Start Date:</strong>
    <%= @order_line.order_line_start_date.to_formatted_s(:long_ordinal) %>
</p>

<p>
    <strong>Order Line Finish Date:</strong>
    <%= @order_line.order_line_finish_date.to_formatted_s(:long_ordinal) %>
</p>

<p>
    <strong>Special Order Notes:</strong>
    <%= @order_line.special_order_notes %>
</p>

<p>
    <strong>Product:</strong>
    <%= @order_line.product.product_name %>
</p>

<p>
    <strong>Order Line Status:</strong>
    <%= @order_line.order_line_status.order_line_status_name %>
</p>

<p>
    <strong>Order Line ID:</strong>
    <%= @order_line.order_id %>
</p>

<hr>

<table>
    <tbody>
        <tr>
            <th>Position</th>
            <th>Tier Size</th>
            <th>Tier Special Notes</th>
            <th>Cake Flavor</th>
            <th>Frosting Flavor</th>
            <th>Shape</th>
        </tr>
        <% @order_line.tiers.each do |ot| %>
        <tr>
            <td><%= ot.position %></td>
            <td><%= ot.tier_size %></td>
            <td><%= ot.tier_special_notes %></td>
            <td><%= ot.cake_flavor.flavor_name %></td>
            <td><%= ot.frosting_flavor.frosting_name %></td>
            <td><%= ot.shape.shape_name %></td>
            <td><%= link_to 'Show Details', ot %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<hr>

<%= link_to 'Edit', edit_order_line_path(@order_line) %> |
<%= link_to 'Back', :back %>