<p id="notice"><%= notice %></p>

<p>
    <strong>Product name:</strong>
    <%= @product.product_name %>
</p>

<p>
    <strong>Product description:</strong>
    <%= @product.product_description %>
</p>

<%= link_to 'Edit', rails_admin.edit_path(model_name: 'product', id: @product.id) %> |
<%= link_to 'Back', :back %>