<div class="wrapper" >

    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li class="sidebar-header">Navigation</li>

            <li><%= link_to "Bakers", new_report_path(report: "bakers"), :class => "nav-link" %></li>
            <li><%= link_to "Popular Fillings", new_report_path(report: "popular_fillings"), :class => "nav-link" %></li>
            <li><%= link_to "Order Growth", new_report_path(report: "order_growth"), :class => "nav-link" %></li>
            <li><%= link_to "Most Popular Cake Flavors", new_report_path(report: "popular_cake_flavors"), :class => "nav-link" %></li>
            <li><%= link_to "Most Popular Frostings", new_report_path(report: "popular_frostings"), :class => "nav-link" %></li>
            <li><%= link_to "Product Sales (Descending)", new_report_path(report: "worstsales"), :class => "nav-link" %></li>
            <li><%= link_to "Dietary Restriction Frequency", new_report_path(report: "dietary_restrictions"), :class => "nav-link" %></li>
            <li><%= link_to "Top 10 Customers", new_report_path(report: "top_10_customers"), :class => "nav-link" %></li>
            <li><%= link_to "Popular Months", new_report_path(report: "popular_months"), :class => "nav-link" %></li>
            <li><%= link_to "Highest Earning Month by Year", new_report_path(report: "highest_earning_month"), :class => "nav-link" %></li>
            <li><%= link_to "Delieries per Driver", new_report_path(report: "deliveries_per_driver"), :class => "nav-link" %></li>

        </ul>
    </nav>

    <div class = "container" id="content">

        <%= render partial: @report %>
    </div>

</div>
