<div class="wrapper" >

    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li class="sidebar-header">Navigation</li>
            <li><%= link_to "Test Report", new_report_path(report: "test_report"), :class => "nav-link" %></li>
            <li><%= link_to "Test Report", new_report_path(report: "test_report2"), :class => "nav-link" %></li>
            <li><%= link_to "Most Popular Cake Flavors", new_report_path(report: "query_name"), :class => "nav-link" %></li>
            <li><%= link_to "Most Popular Frostings", new_report_path(report: "query_name2"), :class => "nav-link" %></li>
        </ul>
    </nav>
</div>

    <div id="content">

        <h1>Reports</h1>
        <%= render partial: @report %>

    </div>

</div>