<!DOCTYPE html>
<html>

<head>
    <title>BakeryApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <%= link_to 'Home', main_app.root_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Customers', main_app.customers_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Orders', main_app.orders_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Products', main_app.order_lines_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Tasks', main_app.tasks_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Employees', main_app.employees_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Reports', main_app.reports_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Dashboard', rails_admin.dashboard_path, :class => "nav-link" %>
            </li>
        </ul>
    </nav>

    <%= yield %>

</body>

</html>