<!DOCTYPE html>
<html>
  <head>
    <title>CapstoneRainbowBridge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Added By Tyler 1/31, for navigation creation of navigation bar -->
    <!-- Update By Tyler 2/6, created admin only access on Admin Dashboard -->
    <div class = "navbar">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Orders", orders_path %></li>
        <% if user_signed_in? %>
          <li class = "profile-drpdwn">
            <a href="javascript:void(0)" class="dropbtn"><%= current_user.email %></a>
            <div class="dropdown-content">
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            </div>
          </li>
        <% else %>
          <li id = "navbar" class = "navbar-fr"><%= link_to "Employee Login", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
        <% if current_user != nil %>
          <% if current_user.role != nil %>
            <% if current_user.role.name == 'Admin' || current_user.role.name == 'Read' %>
              <li><%= link_to "Admin Dashboard", rails_admin.dashboard_path %></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>

    <!-- Added By Tyler 1/31, for user sign in notifications-->
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
